body {
  color: white;
  font-family: sans-serif;
  align-items: center;
  background-image: url("whisky-barrels.png");
  background-size: cover;

}
 h1 {
   size: 24px;
  
 }

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-item {
  margin-right: 1.8rem;
}

#whisky-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
